body {
  background-color: #f6fff8;
}

main {

}


.header {
  grid-area: header;
}

.article {

  grid-area: article;
}

.aside {
  grid-area: aside;
}

.footer {
  display: flex;
  justify-content: center;
  grid-area: footer;
}

nav {
  display: flex;
  align-content: space-around;
  justify-content: space-between;
  background-color: #587769;
  padding: 16px;
}

.navigation__link {
  color: #aecbbd;
  text-decoration: none;
}

h1 {
  color: #587769;
}

h2 {
  color: #618374;
}

p {
  color: #6b9080;
}

footer {
  color: #aecbbd;
}

@media screen and (max-width: 599px) {

  main {
    display: grid;
    grid-template-areas:
      "header"
      "article"
      "aside"
      "footer";
    grid-template-columns: 1fr;
  }
}


@media screen and (min-width: 600px) {
 
  main {
    display: grid;
    grid-template-areas:
      "header header header"
      "article . aside"
      "footer footer footer";
    grid-template-columns: 200px 64px 1fr;


  }
}
