body {
  background-color: #f6fff8;
}

main {

}


.header {
  grid-area: header;
  background-color: #587769;

}

.article {

  grid-area: article;
}

.aside {
  grid-area: aside;
}

.footer {
  display: flex;
  justify-content: center;
  grid-area: footer;
}


.navigation__link {
  color: #aecbbd;
  text-decoration: none;
    display: block;
    background-color: #587769;
    padding: 5px;
    margin: 0 0 5px;
    
}

.navigation {
    display: block;
    background-color: #587769;
    padding: 5px;
    margin: 0 0 5px;
}

h1
{
  color: #587769;

}

h2 {
  color: #618374;

}

h2::before {content: 'Hi'}

p {
  color: #6b9080;
}

footer {
  color: #aecbbd;
}

@media (max-width: 599px) {

  main {
    display: grid;
    grid-template-areas:
      "header"
      "article"
      "aside"
      "footer";
    grid-template-columns: 1fr;
    margin: 60px 0 auto;
  }

  .navigation {
    display: none;
  }

  header {
    min-height: 60px;
    position: fixed;
    top: 0;
    width: 100%;

  }

.hamburger {
    position: absolute;
    top: 20px;
    right: 10px;
}

.navigation--open {
    display: block;
}
}


@media (min-width: 600px) {

 
  main {
    display: grid;
    grid-template-areas:
      "header header header"
      "article . aside"
      "footer footer footer";
    grid-template-columns: 200px 64px 1fr;
    

}

.navigation {
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    background-color: #587769;
    padding: 16px;
  }

.hamburger {
    display: none;
}
}

